.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DC143C; /* Color del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.download-btn:hover {

    background-color: #e04564; /* Naranja brillante para contraste */
    
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.curri-p{
    color: #eee;
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
    
}