@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Estilos generales */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: #350a0e #000000;
}

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {

    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #1a1a1a;
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #EEE;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
a {
  color: #000000;
  text-decoration: none;
}
.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name h1 {
    font-size: 1.5em;
}

nav {
    display: flex;
}

.ul-nav {
    list-style: none;
    display: flex;
}

.li-nav {
    font-size: 1em;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.li-nav:hover {
    transition: transform 0.3s ease;
    color: #DC143C;
    transform: scale(1.1);
}
/* Estilos del contenido principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p,
h2,
h1{
    padding: 10px;
}

h2{
    color: #DC143C;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  /* ----- SECCIÓN GENERAL INFO ----- */
  
  .general-info {

    margin-top: 40px;
    grid-area: 1 / 1;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2), 0px 2px 5px rgba(0, 0, 0, 0.2);


  }
  
  /* ----- ARTÍCULO SOBRE MÍ ----- */
  
  .sobre-mi {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  /* ----- IMAGEN DE PERFIL ----- */
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* ----- CONTENIDO DE INFORMACIÓN GENERAL ----- */
  
  .general-info-content {
    flex: 1;
    
  }
  
  /* ----- PRESENTACIÓN ----- */
  
  .presentation {
    margin-bottom: 20px;
  }
  
  .presentation h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .presentation p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* ----- INFORMACIÓN MISCELÁNEA ----- */
  
  .misellaneus-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* ----- INTERESES ----- */
  
  .intereses {
    flex: 1;

  }
  
  .intereses h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .intereses p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .intereses img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  /* ----- HABILIDADES ----- */
  
  .skills {
    flex: 1;
  }
  
  .skills h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills li {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .skills li img {
    max-width: 50px;
  }
  
  /* ----- CURRICULUM ----- */
  
  .curriculum {
    text-align: center;
  }
  
  .curriculum button {
    background-color: #DC143C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;

  }
  
  .curriculum button:hover {
    background-color: #d63958;
    transform: scale(1.2);
    transition: transform 0.3s ease;
    
  }

    /* ----- SECTION EDUCACIÓN ----- */


  .section-education {
    grid-area: 2 / 1;
    background-color: #EEE;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2), 0px 2px 5px rgba(0, 0, 0, 0.2);
}
  
  /* ----- ARTÍCULO EDUCACIÓN ----- */
  
  .educacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  
  .educacion h3 {
    color: #DC143C;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .educacion p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .educacion img {
    max-width: 150px;
    margin-top: 10px;
    transition: transform 0.3s ease;

  }

  .educacion img:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
  }

  .titulo{
    font-size: 15px;
    color: #000000;
  }
  
  /* ----- MEDIA QUERIES ----- */
  
  @media (max-width: 768px) {
    .sobre-mi {
      flex-direction: column;
    }
  
    .general-info-content {
      margin-top: 20px;
    }
  }

  

/* Estilos del pie de página */
footer {

    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-container {
    box-sizing: border-box;
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    background-color: #EEE;
}

.content-info h2 {
    color: #000000;
    font-size: 1.2em;
}

.social-media img {

    margin: 0 5px;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-media img:hover {

    transition: transform 0.3s ease;
    transform: scale(1.3);
}

.copy {
    font-size: 15px;
    text-align: center;
    color: #EEE;
    background-color: #000000;
    padding: 10px;
}

@media (max-width: 768px) {
    footer {

        bottom: 0;
    }

    .info-container {
        flex-direction: column;
        text-align: center;
    }

    .content-info,
    .social-media {
        margin-bottom: 15px;
    }

    .copy {
        text-align: center;
    }

    .copy p {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .name h1 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
    }

    .ul-nav {
        flex-direction: column;
        text-align: center;
    }

    .li-nav {
        margin: 10px 0;
    }
}
