/* Estilos para pantallas grandes */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.proyectos {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Todos los elementos tendrán la misma altura */
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.proyecto {
    flex: 0 0 30%; /* Esto hace que cada proyecto ocupe inicialmente el 30% del ancho */
    margin: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.proyecto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.descripcion {
    padding: 15px;
}

.descripcion h2 {
    color: #DC143C;
    margin-bottom: 10px;
}

.descripcion p {
    margin-bottom: 15px;
}

.descripcion a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #DC143C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones combinadas */
}

.descripcion a:hover {
    background-color: #d63958;
    transform: scale(1.2);
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .proyecto {
        flex-basis: 100%; /* Cada proyecto ocupará el 100% del ancho en pantallas más pequeñas */
    }
}