@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: #4E3629 #000000; /* Marrón oscuro para la barra de desplazamiento */
}

h1, h2 {
    color: #FF7F29; /* Naranja brillante */
}

body {
    background-color: #1a1a1a; /* Fondo oscuro */
    line-height: 1.5;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    z-index: -1;
    background: linear-gradient(45deg, #303030, #181818); /* Degradado diagonal con tonos oscuros */
    background-size: 100% 100%;
    animation: textureAnimation 8s linear infinite;
}

header {
    background-color: rgba(33, 33, 33, 0.7); /* Gris oscuro con transparencia */
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 2px solid #FF7F29; /* Naranja brillante para contraste */
    justify-content: space-between;
    align-items: center;
}

.presentation-container {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF7F29; /* Naranja brillante para contraste */
}

.presentation-container h1, .presentation-container h2 {
    font-size: 20px;
    margin: 0 auto;
}

.presentation-container img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 0 auto;
}

.presentation-container h4, h1{

  color: #DDD;
  
}
.nav-container {
    text-align: center;
}

nav ul {
    padding: 15px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 50px;
    transition: transform 0.3s ease;
}

nav a {
    text-decoration: none;
    color: #FFF; /* Texto blanco para contraste */
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #FF7F29; /* Naranja brillante para contraste */
    color: #1a1a1a; /* Texto oscuro para contraste */
}

nav li:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

.marca-container {
    padding: 15px;
}

/* Consulta de medios para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
        margin-right: 10px; /* Reduje el espacio entre las listas para pantallas más pequeñas */

    }
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.sobre-mi {
    color: #DDD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid #FF7F29;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
}

.Skills {
    color: #DDD;
    border: 2px solid #FF7F29;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}

.Skills h4 {
    color: #DDD;
}

.Skills-Card {
    color: #DDD;
    background-color: #1a1a1a; /* Gris oscuro */
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Skills-Card h5 {
    color: #FF7F29;
}

.Skills-Card img {
    width: 110px;
    height: 110px;
    height: auto;
    margin-top: 15px;
}

.educacion{

  color: #DDD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #FF7F29;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;

}

.educacion-card{

  color: #DDD;
  background-color: #1a1a1a; /* Gris oscuro */
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.educacion-card h4, 
h6{
    font-size: 18px;
    color: #FF7F29;

}

.educacion-card img{
  width: 140px;
  height: 140px;
  transition: transform 0.3s ease;

}

.educacion-card img:hover{

    transform: scale(1.3);
    transition: transform 0.3s ease;
}
footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    border-top: 2px solid #FF7F29;
    color: #DDD;
    bottom: 0;
    margin-top: 100vh;
    transition: background-color 0.5s ease;
    text-align: center;
}

footer img {
    width: 190px;
    height: 170px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-user,
.footer-marca,
.footer-copy {
    width: 100%;
    margin: 0 auto;
}

.footer-user,
.footer-marca {
    padding: 10px;
}

.user{
    font-style: italic;
    font-size: 18px;
}

.footer-user {
    background-color: #1a1a1a; /* Gris oscuro */
    border-bottom: 2px solid #FF7F29;
}

.footer-marca {
    background-color: #1a1a1a; /* Gris oscuro */
}

.footer-copy {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a; /* Gris oscuro */
}

footer img {
    width: 150px;
    height: auto;
}

.footer-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #121212;
}


