/* Estilos generales */
*{
  font-family: font;
  src: url('img/fonts/Open_Sans.zip') format('truetype'); /* Ruta a tu archivo de fuente */

}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

header, main, footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el encabezado */
header {
  background-color: #333; /* Fondo del encabezado más oscuro */
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: #ccc; /* Color de título distintivo */
}

h2 {
  margin-top: 5px;
  font-size: 1.5em;
  color: #ccc; /* Color de subtítulo distintivo */
}

/* Estilos para las secciones */
section {
  background-color: #1e1e1e; /* Fondo de sección más oscuro */
  border: 1px solid #444; /* Borde ligeramente más claro */
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

h3 {
  font-size: 1.2em;
  margin-top: 0;
  color: #e0e0e0;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

/* Estilos para listas */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  color: #e0e0e0;
}

/* Estilos para enlaces */
a {
  color: #bb86fc; /* Color de enlace distintivo */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
  width: 200px;
}

.texto {
  text-align: justify;
}

/* Ventana Emergente */
.custom-tooltip {
  position: relative;
  /* Estilos del enlace */
}

.custom-tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.custom-tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}