/* Estilos globales */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece un mínimo de altura de la ventana gráfica (viewport height) */
  background-color: #111;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1.nombre {
  font-size: 36px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2.titulo {
  font-size: 24px;
  margin: 5px 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos de títulos */
h3 {
  font-size: 28px; /* Aumenta el tamaño de fuente */
  color: #fff; /* Cambia el color a azul brillante */
  font-weight: bold; /* Aplica negrita */
  text-decoration: underline; /* Agrega subrayado */
  padding: 5px; /* Agrega un espacio alrededor del texto para resaltarlo */
  background-color: #444; /* Fondo de resaltado */
  border-radius: 5px; /* Esquinas redondeadas para el fondo */
}
/* Secciones */
section {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

h3 {
  font-size: 24px;
  margin: 0 0 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

a.enlace-educacion {
  color: #00f;
  text-decoration: none;
}

a.enlace-educacion:hover {
  text-decoration: underline;
}

/* Habilidades */
ul.habilidades {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul.habilidades li {
  flex: 1;
  margin: 0 5px;
  background-color: #333;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

ul.habilidades li:hover {
  background-color: #00f;
  text-shadow: none;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: auto; /* Hace que el footer siempre esté en la parte inferior */
}

/* Estilos de enlaces con referencia */
a.enlace-educacion {
  color: #888; /* Cambia el color a gris (#888) */
  text-decoration: none; /* Quita la subrayado predeterminado */
  font-style: italic; /* Aplica estilo de fuente en cursiva */
  transition: color 0.3s; /* Agrega una animación de transición al color */
}

a.enlace-educacion:hover {
  color: #555; /* Cambia el color al pasar el cursor (#555) */
  text-decoration: underline; /* Agrega subrayado al pasar el cursor */
}